/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

a{
    text-decoration: none;
    color: inherit;
}

img{
    width: 100%;
}


/* Utils */

.btn{
    border-style: none;
    width: 4rem;
    height: 2rem;

}

/* HEADER */

header{
    height: 3rem;
}

.nav-container{
    display: flex;
    max-width: 100%;
    padding: 1rem;
    justify-content: space-between;
}

nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}


/* MAIN */

/* Jumbotron */

.jumbotron{
    /* Debug */
    /* height: 41rem; */

    background-color: #b4d0e7;
}

.jumbo-card{
    display: flex;
    padding-top: 2rem;
}

.jumbo-text{
    /* debug */
    background-color: red;

    display: flex;
    flex-direction: column;
    width: 40%;
    height: 33rem;

}

.jumbo-img{
     /* debug */
    background-color: green;
    width: 60%;

    position: relative;
    height: 40rem;
}

/* Sezione abbonamenti  */
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 3rem;

}

.column-header{
    border-bottom: 2px solid #e7e7e9;
    text-align: center;
    padding: 0.5rem 0;
}

.column{
    display: flex;
    flex-direction: column;

    width: 30%;
    border: 2px solid #e7e7e9;
}

.column ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem 0;
}

.column ul li{
    margin: 0.5rem 0;
    padding:0 1rem;
}

.column-big{
    display: flex;
    flex-direction: column;

    width: 100%;
    border: 2px solid #e7e7e9;
}

.left{
    position: relative;
    margin: 1rem;
}

.absolute-btn{
    position: absolute;
    top:0;
    right: 0;
}

/* Sezione 2 */

.box-section2{
    display: flex;
}

.box-img{
    width: 55%;
}

.box-text{
    width: 45%;
    padding: 3rem;

}

/* Sezione 3 Card */

.card{
    /* debug */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 30%;
    height: 30rem;
    
}