/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

header a{
    text-decoration: none;
    color: inherit;
}

 img{
    width: 100%;
}

section{
    padding-top: 7rem;
}

/* Utils */



.btn{
    border-style: none;
    border: 1px solid transparent;
}

.btn.btn-primary{
    background-color: #0061ff;
    color: white;
    padding: 10px 20px;
    border: 1px solid transparent;
}

.bg-blue{
    background-color: #b4d0e7 ;
}

.bg-white{
    background-color: white ;
}

.bg-black{
    background-color: black ;
}

/* HEADER */

header{
    position:fixed;
    width: 100%;
    z-index: 1;

    height: 5rem;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    
}

.nav-container{
    display: flex;
    max-width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}
nav ul li{
   margin: 0 1rem;
}




/* MAIN */

/* Jumbotron */

.jumbotron{
    min-height: 70vh;
}

.jumbo-card{
    display: flex;
    position: relative;
    /* bottom: -200px; */
}

.jumbo-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 35%;
}

.jumbo-img{
    width: 65%;
}


/* Sezione abbonamenti  */
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 3rem;

}

.column-header{
    border-bottom: 2px solid #e7e7e9;
    text-align: center;
    padding: 0.5rem 0;
}

.column{
    display: flex;
    flex-direction: column;

    width: 30%;
    border: 2px solid #e7e7e9;
}

.column ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem 0;
}

.column ul li{
    margin: 0.5rem 0;
    padding:0 1rem;
}

.column-big{
    display: flex;
    flex-direction: column;

    width: 100%;
    border: 2px solid #e7e7e9;
}

.left{
    position: relative;
    margin: 1rem;
}

.absolute-btn{
    position: absolute;
    top:0;
    right: 0;
}

/* Sezione 2 */

.box-section2{
    display: flex;
}

.box-img{
    width: 55%;
}

.box-text{
    width: 45%;
    padding: 3rem;

}

/* Sezione 3 Card */

.card{
    /* debug */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 30%;
    height: 30rem;
    
}

/* SEZIONE 5 PARTNER */

.sponsor-row{
    display: flex;
}

.col{
    display: flex;
    flex-wrap: wrap;
    width: calc(100vw/3);
}

.small-box{
    /* debug */
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: calc(100vw / 3 / 2);
    padding: 1rem;
}
.central-box{
    padding: 2rem;
}

.small-box img {
    width: 70%;
    filter: invert();
}

.central-box img{
    width: 60%;
}

/* SEZIONE 6 */

.d-flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


/* SEZIONE 7 DOMANDE */

.content-view{
    padding: 2rem 0;
}

.content-hover{
    width: 90%;
    padding-top: 1rem;
    display: none;
}

.content-view:hover .content-hover{
    display: block;
}

/* FOOTER */
footer{
    padding-top: 7rem;
}

.footer-row{
    display: flex;
    justify-content: space-between;
    color: white;
}

.footer-col{
    width: calc(90% / 5);
    padding-left: 1rem;
}

.footer-col ul{
    list-style-type: none;
}

.footer-col ul li{
    margin: 1rem 0;}

.footer-col h3{
   margin: 2rem 0;}